    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('media/fondo2.jpg');
        background-size: cover;
        background-position: center;
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.36);
        border: 2px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-content {
        padding: 20px;
        background-color: #fff;
    }

    .card h2 {
        margin-top: 0;
        font-size: 20px;
        color: #333;
    }

    .card p {
        margin: 5px 0;
        font-size: 16px;
        color: #666;
    }

    .card button {
        display: block;
        width: 100%;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .card button:hover {
        background-color: #45a049;
    }

    select {
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        margin-bottom: 20px;
    }

    #comprar-btn {
        display: block;
        width: 100%;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        background-color: #2196F3;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 20px;
    }

    #comprar-btn:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }

    .carrito-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
    }

    .carrito-item button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .carrito-item button:hover {
        background-color: #d32f2f;
    }

    #usuario-form {
        margin-bottom: 20px;
        margin-right: 20px;
    }

    #usuario-form label {
        display: block;
        margin-bottom: 5px;
    }

    #usuario-form input {
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        margin-bottom: 20px;
    }